<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[title]</title>
</head>
<body>
<header>
    <a id="logo_link" href="index.html">
        <img class="logo" src="[name]" alt="[name]" width="400" height="400">
    </a>
    <nav>
        <a href="index.html">Home</a>
        <a href="#">Page 2</a>
        <a href="[name]">[name]</a>
        <a href="contactus.html">Contact Us</a>
    </nav>
</header>


<main>

    
</main>
<footer>

    
</footer>
</body>
</html>