@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #172A3A ;
    --secondary-color: #004346 ;
    --accent1-color: #508991;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Raleway', Helvetica, sans-serif;
    --paragraph-font: 'Raleway', Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #172A3A;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #508991; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #508991  ;
    --nav-link-color: #172A3A;
    --nav-background-color: #74b3ce;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #508991;
  }

body {
    font-family: var(--paragraph-font);
    font-size: 22px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

header {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.logo {
    max-height: 80px;
    max-width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    max-height: 80px;
    max-width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#content {
    font-family: var(--paragraph-font);
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    font-family: var(--paragraph-font);
    text-align: center;
    color: var(--accent2-color);
    text-decoration: none;
    padding: 35px;
}

nav a header {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--accent2-color);
    margin-top: 10px;
}

h2 {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    margin: 0;
}

h4 {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}

.msg {
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
    line-height: 1.5em;
    color: white;
    padding: 35px;
}

.msg h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

.msg p {
    font-family: var(--paragraph-font);
    font-size: .8em;
    color: var(--accent2-color);
    padding-bottom: 15px;
}

#hero-msg {
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
}

#hero-msg h1, #hero-msg h4 {
    font-family: var(--paragraph-font);
    text-align: center;
    color: white
}

.button-box {
    font-family: var(--paragraph-font);
    text-align: center;
}

main section {
    font-family: var(--paragraph-font);
    text-align: center;
    color: white;
}

main section {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: var(--secondary-color);
}

.card-img {
    border: 10px solid var(--accent1-color);
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.book, .join {
    font-family: var(--paragraph-font);
    font-size: 18px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    font-family: var(--paragraph-font);
    background-color: var(--accent2-color);
    color: var(--accent2-color);
}

footer {
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    text-decoration: none;
}

footer a:hover {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}